<div class="container">
  <div id="main">
    <h1>Eat-Da-Burger!</h1>
    <h2 id="intro"> If you're a carnivore and hungry for some unique burgers, you've come to the right spot!</h2>
    <hr>
  </div>



  <div class="row">

    <!-- burgers -->
    <div class="col-md-6">

      <!-- left column -->
      <h2 id="left">To Be Eaten...</h2>
      <p class="instructions">Click the button in this column to eat any burger in stock.</p>
      <ul>
        {{#each burgers}}

        {{#unless devoured}}
        {{> burgers/burger-block}}
        {{/unless}}


        {{/each}}
      </ul>

    </div> {{!-- left column --}}

    <div class="col-md-6">

      <!-- right column -->
      <h2 id="right">Already Devoured!</h2>
      <p class="instructions">Click the button in this
        column to order
        more
        of any burger out of stock. </p>
      <ul>

        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block}}
        {{/if}}


        {{/each}}
      </ul>
    </div> <!-- right column -->
  </div> {{!-- row --}}


  <hr>

  <div class="row">
    <div class="col-md-4">
      <form class="create-form">
        <h2 id="form-add">Add a Burger:</h2>
        <p class="add-instructions">Don't see your favorite burger on the list?</p>
        <p class="add-instructions">Add its name and ingredients to the menu!</p>
        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="name">
        </div>
        <div class="form-group">
          <label for="cai">Ingredients:</label>
          <input type="text" id="cai" name="ingredients">
        </div>

        <div class="form-group">
          <label for="slee">Devoured?</label><br>
          <input type="radio" name="devoured" value="1" checked> Devoured!<br>
          <input type="radio" name="devoured" value="0"> Still Available
        </div>

        <button type="submit" id="button">Add Burger</button>
      </form>
    </div>


    <div class="col-md-4">
      <form class="modify-form">
        <h2 id="modify-title">Modify a Burger:</h2>
        <ul>
          <li>Have dietary restrictions?</li>
          <li>Special Allergies?</li>
          <li>Despise bacon?</li>
        </ul>
        <p class="modify-instructions">First: Choose which burger you want to change from the dropdown menu.</p>
        <p class="modify-instructions">Next: Type only the ingredients you want on your burger below. Omit
          ingredients you don't want on your burger</p>
        <p class="modify-instructions">Finally: Click
          "Modify My Burger" to modify the burger's ingredients.</p>
        <form id="modifyburger" class="button-size">
          <select name="burger">
            {{#each burgers}}
            <option value="{{this.name}}">{{name}}</option>
            {{/each}}
          </select>
          <textarea type="text" name="newburger" placeholder="New ingredients here"></textarea>
          <button type="submit" id="modify-button">Modify My Burger</button>
        </form>
    </div>
  </div>
</div>