li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.container {
  width: 85%;
  margin: 25px auto;
  background-image: url("https://webstockreview.net/images/burger-clipart-border.jpg");
}

#left,
#right {
  font-size: 32px;
  background: #faebd7;
  margin-top: 20px;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: darkblue;
}

#intro {
  text-align: center;
  font-size: 28px;
}

.create-form,
#form-add,
#add-instructions {
  text-align: center;
  background-color: orange;
}

.ingredients {
  font-size: 10px;
}

.burger-name {
  font-weight: bold;
  color: darkorange;
}

.instructions {
  background: #faebd7;
}

.col-md-6,
#main {
  background-color: orange;
}

#main {
  margin-top: 15px;
}
