#main-burgers {
  padding: 5px;
  margin: 5px;
  background: aquamarine;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
  margin-left: 10px;
}

.container {
  width: 85%;
  margin: 25px auto;
  background-image: url("https://webstockreview.net/images/burger-clipart-border.jpg");
}

#left,
#right {
  font-size: 32px;
  background: aquamarine;
  margin-top: 20px;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: darkblue;
}

#intro {
  text-align: center;
  font-size: 28px;
}

.create-form,
#form-add,
.add-instructions {
  background-color: orange;
  margin-left: 10px;
}

.ingredients {
  font-size: 10px;
}

.burger-name {
  font-weight: bold;
  color: firebrick;
}

.instructions {
  background: aquamarine;
}

.col-md-4,
.col-md-6,
#main {
  background-color: orange;
}

#main {
  margin-top: 15px;
}

#button {
  margin-left: 10px;
}

.col-md-4 {
  max-width: 80%;
  margin-left: 5px;
}

#modify-button {
  float: right;
}

.modify-instructions {
  font-size: 12px;
}
